*{
    background-color:#c7ecee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 7px;
    margin-right: 5px;
    
}
body{
    margin-left: 2;
    margin-right: 2;
}
header{
    text-align: center;
    font-size: 1.5em;
    color:#2f3542;
    font-weight: bold;
}
nav ul li{
    font-size: 1.1em;
    color:#ff4757;
    text-decoration: none;
    
}
p{
    font-size: 1.2em;
    line-height: 1.1em;
    text-align: justify;
    
}
h1{
    text-align: center;
    font-weight: bold;
}
h2{
    text-align: center;
    font-size: 1.5em;

}
 ul{
    font-size: 1.1em;
}

}
 li{
    font-size: 1.1em;
    line-height: 1.2em;
}
img{
    margin-top: 10px;
    margin-bottom: 7px;
}
ol{
    color: #2f3542;
    display: inline-block;
    margin-left: 45%;
    
    font-size: 1.15em;
    line-height: 1em;
    
}
footer {
    text-align: center !important;
   background-color:black !important;
          
  }